.card{
    transition: transform 0.3s ease;
    min-height: fit-content  !important;
    margin-top: 20px;
}

.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* transform: translateY(-2px); */
    transform: scale(1.08);
    cursor:pointer;
    
}
.resList{
    display:flex;
    align-items: center;
    justify-content: center;
}
.link{
    text-decoration:none ;
}