
.App{
  /* margin:0;
  padding:0 !important;
   display:flex;
  flex-direction: column; 
 row-gap: 50px; */
 height:auto;
 margin:0;
 width:100%;
 }

nav{
  position: sticky;
  top:0;
   /* box-shadow: 7px 8px 5px rgb(241, 240, 240); */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   z-index: 1;
   width:100%;

}
footer{
  /* position:fixed; */
  bottom:0;
margin:0;
 width:100%;
  max-height: fit-content;
 background-color: rgb(203, 247, 203);

}